.app-container {
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: [full-start] 1fr [center-start] repeat(12, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] 1fr [full-end];
}
