@use '../abstracts' as *;

.app-body {
    grid-column: col-start 4 / col-end 9;
    padding: 2rem 4rem;

    @include respond(tab-port) {
        grid-column: col-start 3 / col-end 10;
    }

    @include respond(phone) {
        grid-column: col-start 1 / col-end 12;
        padding: 2rem;
    }
}
